.link-tree-contactForm-container {
  .link-tree-contactForm-content {
    .link-tree-contactForm {
      @include flex($gap: space(3), $direction: column);
      .link-tree-inputGroup {
        @include flex($gap: space(3));

        @media screen and (max-width: 575px) {
          @include flex($gap: space(3), $direction: column);
        }
      }

      .link-tree-inputGroup.checkbox {
        @include flex();
        input {
          position: absolute;
          z-index: -1;
        }

        input[type="checkbox"]:checked + label::after {
          content: " ";
        }

        input[type="checkbox"]:checked + label::before {
          border: 1px solid $buttonBlueDefault;
        }

        input[type="checkbox"]:focus + label::before,
        input[type="checkbox"]:hover + label::before {
          box-shadow: $butonShadow;
        }

        label {
          font-size: 14px;
          @include flex($gap: space(1), $align: center);
          @media screen and (max-width: 575px) {
            align-items: flex-start;
          }

          &::before {
            background: rgb(249, 250, 251);
            border: 1px solid $inputGreyBorder;
            content: "";
            display: inline-block;
            height: 14px;
            width: 14px;
            border-radius: space(0.6);
            cursor: pointer;
          }

          &::after {
            content: none;
            display: inline-block;
            height: 3px;
            width: 6px;
            border-left: 2px solid rgb(21, 112, 239);
            border-bottom: 2px solid rgb(21, 112, 239);
            top: space(0.5);
            left: space(0.5);
            transform: rotate(-45deg);
            position: absolute;
            z-index: 1;
          }
        }
      }

      .link-tree-inputGroup.textarea {
        @include flex($gap: space(1), $direction: column);
        label {
          font-weight: 600;
          color: #344054;
          font-size: 14px;
        }

        textarea {
          border: 1px solid $inputGreyBorder;
          color: $inputColorText;
          border-radius: space(1);
          padding: space(1.5);
          outline: none;
          height: 135px;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

          &:focus {
            border: 1px solid #84caff;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
              0px 0px 0px 4px #d1e9ff;
          }
        }
        textarea.error {
          border: 1px solid $error;

          &:focus {
            border: 1px solid $error;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
              0px 0px 0px 4px #fac7c0;
          }
        }

        .link-tree-input-helperText {
          color: $error;
        }
      }
    }
  }
}
