.link-tree-mobileMenu {
    .link-tree-mobileMenu-container {
        .link-tree-mobileMenu-list {
            min-width: 150px;
            height: auto;
            padding: space(2);
            background: $white;
            border-radius: space(1);
            position: absolute;
            top: 70px;
            right: 0;
            z-index: 2;
            box-shadow: 1px 5px 15px rgba(16, 24, 40, 0.10);
            display: none;

            li {
                small {
                    @include flex($align: center, $gap: space(1));
                    color: $black;
                }
            }

            li.social-links {
                width: 100%;
                @include flex($align: center, $justify: center, $gap: space(1));

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .link-tree-mobileMenu-list.show {
            @media screen and (max-width:575px) {
                @include flex($align: center, $gap: space(2), $direction: column);
            }
        }
    }
}