.link-tree-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  @include flex($align: center, $justify: center);

  .link-tree-modal {
    width: 90%;
    max-width: 400px;
    padding: space(6) space(3);
    background: $white;
    color: black;
    border-radius: space(1);
    text-align: center;
    @include flex($direction: column, $gap: space(3));

    .check-icon {
      color: $buttonBlueDefault;
      font-size: 40px;
      @include flex($align: center, $justify: center);
      border-radius: 50%;
      border: 1px solid $buttonBlueDefault;
      width: 70px;
      height: 70px;
      align-self: center;
    }

    h2 {
      font-weight: 600;
    }

    .link-tree-modal-desc {
      line-height: 25px;
    }
  }
}
