.link-tree-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  @include flex($align: center, $justify: center);

  .link-tree-modal {
    width: 90%;
    max-width: 600px;
    padding: space(3) space(2);
    background: $white;
    color: black;
    border-radius: space(1);
    @include flex($direction: column, $gap: space(2));

    span {
      align-self: flex-end;
      cursor: pointer;
    }

    h2 {
      font-weight: 600;
    }
  }
}
