.link-tree-notification {
    padding: space(1);
    border-radius: 15px;
    background: $grey;
    font-weight: 700;
    color: $black;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.05);
    width: 180px;

    @include flex($gap: space(1), $align: center, $justify: center);

    .material-symbols-outlined {
        color: $black;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
    }
}