.link-tree-linkItem {
    padding: space(3) space(3.5);
    background: $grey;
    color: $black;
    border-radius: space(1);
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    @include flex($align: center, $justify: space-between);

    &:hover .share-icon {
        opacity: 1;
    }

    &:hover {
        background: #D0D5DD;
    }

    &:focus {
        border: 1px solid #98A2B3;
    }

    .share-icon {
        z-index: 1000;
        padding: space(0.5);
        border-radius: 50%;
        border: 1px solid #98A2B3;
        opacity: 0;

        &:hover,
        &:visited,
        &:focus {
            background: #D0D5DD;
        }

        &:focus {
            border: 1px solid #98A2B3;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }

    }

}